body {
    font-family: 'Quicksand', sans-serif;
    background-color: #fffcf2;
    color: #252422;
    text-align: center;
}
h1 {
    font-family: 'Fira Sans', sans-serif;
}
p {
    color: #403d39;
}
a {
    text-decoration: none;
    color: #252422;
}

a:visited {
    color: #252422;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.nav-link {
     background-color: #252422;
     color: #fffcf2;
     width: 100px;
     height: 30px;
     padding-top: 10px;
}

.nav-link:visited {
    color: #fffcf2;
}

.nav-link:hover {
    background-color: #403d39;
    transition: 0.3s;
}

.current-page-link {
    background-color: #403d39;
}

#profilepic {
    height: auto;
    width: 200px;
    border-radius: 50%;
    margin-top: 60px;
}
.about-pic {
    height: auto;
    width: 200px;
    border-radius: 50%;
}

.icon {
        height: auto;
    width: 50px;
}

.skill-icon:hover {
    filter: invert(30%);
    transition: 0.3s;
}

.social-img {

    margin-left: 10px;
    margin-right: 10px;
}

.social-img:hover {
    filter: invert(30%);
    transition: 0.3s;
}

#skill-list {
    list-style: none;
}


li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

ul {
    padding: 0;
}

footer {
    width: 100%;
}
footer:hover {
    color: #eb5e28;
    transition: 0.3s;
}

/* For phones */

@media only screen and (max-width: 548px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
    }
    .nav-link {
        width: 25%
    }
    #profilepic {
        height: auto;
        width: 80%;
    }

    .subtitle {
        position: relative;
        bottom: 25px;
    }
    .home-content {
        position: relative;
        bottom: 15px;
    }

    .divider-line {
        background-color: #eb5e28;
        width: 100%;
        height: 1px;
        position: relative;
        bottom: 10px;
    }
    footer {
        position: relative;
        top: 20px; 
    }
}

/* For Tablets */

@media only screen and (max-width: 1300px) and (min-width: 548px) {
    .nav-link {
        width: 25%;
        font-size: 30px;
        padding-top: 25px;
        padding-bottom: 30px;
    }
    #profilepic {
        width: 45%;
        top: 30px;
        right: 190px;
    }
    #home-blurb {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 40px;
    }
    #name-sub {
        position: relative;
        top: 20px;
    }
    .name-heading {
        position: relative;
        top: 25px;
        font-size: 4em;
    }
    .subtitle {
        font-size: 2em;
    }
    .home-content {
        margin-left: 20%;
        margin-right: 20%;
        position: relative;
        top: 50px;
        font-size: 1.5em;   
    }
    #about-heading {
        margin-top: 100px;
        font-size: 3em;
    }
    .about-pic {
        width: 30%;
    }
    #about-exp {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #exp-content {
        position: relative;
        bottom: 200px;
        left: 100px;
    }
    .about-exp-content {
        padding-left: 30%;
        padding-right: 30%;
        position: relative;
        bottom: 10px;
    }
    #about-img-1 {
        padding-left: 20px;

    }
    .social-img {
        position: relative;
        top: 60px;
    }
    .page-foot {
       position: relative;
       top: 100px;
    }
}

/*laptops and desktops */

@media only screen and (min-width: 1300px) {
    nav {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 10%;
        background-color: #252422;
        justify-content: left;
    }
    .nav-link {
        width: 100%;
        font-size: 20px;
        padding-top: 25px;
        padding-bottom: 30px;
    }
    #profilepic {
        width: 45%;
        top: 20px;
        right: 190px;
    }
    #home-blurb {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-left: 10%;
        margin-right: 10%;
    }
    #name-sub {
        position: relative;
        top: 10px;
    }
    .name-heading {
        position: relative;
        top: 25px;
        font-size: 4em;
    }
    .subtitle {
        font-size: 2em;
    }
    .home-content {
        margin-left: 22.5%;
        margin-right: 17.5%;
        position: relative;
        top: 20px;
        font-size: 1.5em;
    }
    .social-img {
        position: relative;
        top: 20px;
    }
    footer {
        position: relative;
        top: 40px;
    }
}